*.pyc
config*.cfg
DBCA_Districts_4326.gpkg
DBCA_Districts_4326.7z
thermal_image_processing.py.save
thermal_image_processing_bkp.py
venv
tipapp/cache
pending_imports/
data_storage/
tipapp/logs/kaartdijin_boodja.log
tipapp/logs/kaartdijin_boodja_sql.log
