{% extends 'govapp/base.html' %} 


{% block content %}
{% if error_message %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{error_message}}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{% endif  %}
{% if request.user.is_authenticated is True and has_permission is True %}

  <div class="container-sm">
    <h1>Dashboard</h1>
    <p>
      Keep track of the latest changes detected in the layers. 
    </p>

    {% if success == True %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      Layers added successfully
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endif %}

    <div id="sam_dashboard">
        <table id="example" class="table" style="width:100%">
            <tbody id='publish-tbody'>
            <tr>
                  <td colspan="8" class='text-center'>Loading...</td>
            </tr>
            </tbody>
      </table>  
    </div>
  </div>

  <script>
    $(() => {
      sam_dashboard.init()      
    });
  </script>
{% else %}
<div class="container">
    <div class="alert alert-danger" role="alert" >
        <p>Permission Denied.</p>
    </div>
</div>
{% endif %}
{% endblock %}
